[data-md-color-scheme="default"]  {
  --md-primary-fg-color:        #003C57;
  --md-primary-fg-color--light: #003C57;
  --md-primary-fg-color--dark:  #003C57;
  --md-accent-fg-color:        #F46A25;
  --md-accent-fg-color--light: #F46A25;
  --md-accent-fg-color--dark:  #F46A25;
    /* Set hyperlink color */
  --md-typeset-a-color: #28A197;
  --md-typeset-a-color--hover: #003C57;

  --title-font-color: #003C57;
  --md-footer-bg-color: #095b81;
  --md-footer-bg-color--dark: #003C57;

}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #003C57;
  --md-primary-fg-color--light: #003C57;
  --md-primary-fg-color--dark:  #003C57;
  --md-accent-fg-color:        #F46A25;
  --md-accent-fg-color--light: #f57c3f;
  --md-accent-fg-color--dark:  #8e3f18;
  /* Set hyperlink color */
  --md-typeset-a-color: #28A197;
  --md-typeset-a-color--hover: #003C57;
  --md-code-bg-color: #3D3D3D;
  --md-footer-bg-color: #003C57;
  --title-font-color: #F46A25;
  --md-footer-bg-color: #0b2b3a;
  --md-footer-bg-color--dark: #003C57;

  /* --md-default-bg-color: #3D3D3D; */
  /* --md-typeset-color: #ffffff; */
  /* --md-default-bg-color: #3D3D3D; */
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: var(--title-font-color);
}
