name: continuous-integration

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  linux:
    name: Build and test on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']


    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install --upgrade-strategy eager -e .[dev]
    - name: Run pre-commit hooks
      run: |
        pre-commit run --all-files
    - name: Build
      run: |
        pip install build
        python -m build
    - name: Run pytest
      run: |
        python -m pip install --upgrade setuptools
        pytest

  windows:
    name: Build and test on Windows
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']


    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v4
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install --upgrade-strategy eager -e .[dev]
    - name: Run pre-commit hooks
      run: |
        pre-commit run --all-files
    - name: Build
      run: |
        pip install build
        python -m build
    - name: Run pytest
      run: |
        python -m pip install --upgrade setuptools
        pytest

